.col__img{
  background-image: url("https://images.pexels.com/photos/12919436/pexels-photo-12919436.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.form{
  padding-top: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding-top: 1rem;
}