.calc{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.calc__text{
  background: hsl(224, 36%, 15%);
  color: hsl(0, 0%, 100%);
  border: none;
  margin-bottom: 1.25rem;
  text-align: right;
  padding: 1.063rem;
  font-size: 2rem;
  border-radius: 0.625rem;
}

.calc__Botoes{
  background: hsl(30, 25%, 89%);
  color: hsl(222, 26%, 31%);
  border: 2px solid hsl(30, 25%, 89%);
  border-radius: 1.25rem;
  box-shadow: 1px 1.5px 1px hsl(28, 16%, 65%);
  height: 3.125rem;
  font-size: 1.25rem;
  text-align: center;
}

.calc__Botoes-Chaves{
  background: lightblue;
  color: black;
  border: 2px solid black;
  border-radius: 1.25rem;
  box-shadow: 1px 1.5px 1px black;
  height: 3.125rem;
  font-size: 1.25rem;
  text-align: center;
}

.calc__Background{
  background-color: hsl(222, 26%, 31%);
  border-radius: 1.25rem;
}