<ion-content [fullscreen]="true">


  <ion-row class="ion-justify-content-center calc calc__Background">
    <ion-col value="12" class="ion-text-center">
      <!-- Area de exibição dos resultados -->
      <ion-row>
          <ion-col value="12">
            <ion-textarea [readonly]="true" class="calc__text"></ion-textarea>
          </ion-col>
      </ion-row>
      <!-- Botões -->

          <ion-row>
            <ion-col value="3">
          <ion-input type="button" class="calc__Botoes ion-text-center" value="C"></ion-input>
        </ion-col>
        <ion-col value="3">
          <ion-input type="button" class="calc__Botoes" value="+/-"></ion-input>
        </ion-col>
        <ion-col value="3">
          <ion-input type="button" class="calc__Botoes" value="DEL"></ion-input>
        </ion-col>
        <ion-col value="3">
          <ion-input type="button" class="calc__Botoes" value="/"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col value="3">
          <ion-input type="button" class="calc__Botoes" value="7"></ion-input>
        </ion-col>
        <ion-col value="3">
          <ion-input type="button" class="calc__Botoes" value="8"></ion-input>
        </ion-col>
        <ion-col value="3">
          <ion-input type="button" class="calc__Botoes" value="9"></ion-input>
        </ion-col>
        <ion-col value="3">
          <ion-input type="button" class="calc__Botoes" value="*"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col value="3">
          <ion-input type="button" class="calc__Botoes" value="4"></ion-input>
        </ion-col>
        <ion-col value="3">
          <ion-input type="button" class="calc__Botoes" value="5"></ion-input>
        </ion-col> 
        <ion-col value="3">
          <ion-input type="button" class="calc__Botoes" value="6"></ion-input>
        </ion-col>
        <ion-col value="3">
          <ion-input type="button"class="calc__Botoes" value="-"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col value="3">
          <ion-input type="button" class="calc__Botoes"value="1"></ion-input>
        </ion-col>
        <ion-col value="3">
          <ion-input type="button" class="calc__Botoes"value="2"></ion-input>
        </ion-col>
        <ion-col value="3">
          <ion-input type="button" class="calc__Botoes"value="3"></ion-input>
        </ion-col>
        <ion-col value="3">
          <ion-input type="button"class="calc__Botoes" value="+"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col value="3">
          <ion-input type="button"class="calc__Botoes" value="0"></ion-input>
        </ion-col>
        <ion-col value="3">
          <ion-input type="button"class="calc__Botoes" value="%"></ion-input>
        </ion-col>
        <ion-col value="3">
          <ion-input type="button"class="calc__Botoes" value="."></ion-input>
        </ion-col>
        <ion-col value="3">
          <ion-input type="button"class="calc__Botoes" value="="></ion-input>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-content>
